# Basic python syntax

1.Back slash

In [1]:
print("welcome 
      to python programming")

SyntaxError: EOL while scanning string literal (<ipython-input-1-fae3bab97c1d>, line 1)

In [2]:
print("welcome \
      to python programming")

welcome       to python programming

2.triple Quotes

In [3]:
print(""" hii everyone """)

 hii everyone

In [4]:
print("""
 |||||
(0) (0)
 | - |
 ;   ;
""")

 |||||
(0) (0)
 | - |
 ;   ;

3.String in single Quotes

In [5]:
print("welcome to python's programming")

welcome to python's programming

In [6]:
print('welcome to python\'s programming')

welcome to python's programming

4.Escape sequence of string

In [7]:
print("hello\tAll")

hello	All

In [8]:
print("hello\nAll")

hello
All

5.Formatted Output

In [9]:
name="sk"
age="20"
marks="81"

In [15]:
print("The name of student is",name,"age is",age,"marks is",marks)

The name of student is sk age is 20 marks is 81

In [21]:
print("The name of student is %s age is %d marks is %f"%(name,age,marks))

TypeError: must be real number, not str

In [ ]:
print(f"The name of student is{name}age is{age}marks is{marks})

# Python vatiables and Assignment statements

variable means linking of data to a name

In [25]:
a=10

In [26]:
A=20

In [27]:
_=30

assignment statements

In [28]:
p=q=50

In [29]:
p

50

In [30]:
q

50

In [31]:
id(p)

140709113997232

In [32]:
id(q)

140709113997232

# Python Operators

1.Arithmetic operator

In [33]:
5**2

25

In [34]:
10/2

5.0

In [35]:
49+7

56

In [36]:
36-63

-27

In [37]:
10%3

1

In [38]:
10//3

3

2.comparison operator

In [39]:
a=50
b=30

In [40]:
a==b

False

In [41]:
a>=b

True

In [42]:
a<=b

False

In [43]:
a!=b

True

3.Assignment operator

In [44]:
c=25
d=10

In [45]:
c+d

35

In [47]:
c-=d

4.Logical operator

In [48]:
xyz=70
pqr=20

In [49]:
xyz>20

True

In [50]:
j

NameError: name 'j' is not defined

In [51]:
30>25 and 20>j

NameError: name 'j' is not defined

In [53]:
30<25 and 20>j

False

In [54]:
xyz>20 or 10>9

True

in

In [55]:
str1="Letsupgrade" 
"a" in str1

True

not in

In [56]:
str1="Letsupgrade" 
"z" not in str1

True

is

In [57]:
A=10
B=20

In [58]:
A is B

False

In [59]:
A==B

False

In [60]:
id(A)

140709113995952

In [61]:
id(B)

140709113996272